asttokens==2.0.5
bidict==0.21.4
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
executing==0.8.2
Flask==2.0.2
Flask-SocketIO==5.1.1
icecream==2.1.1
idna==3.3
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.21.4
opencv-python==4.5.4.60
opencv-python-headless==4.5.4.60
Pillow==8.4.0
Pygments==2.10.0
pymemcache==3.5.0
pytesseract==0.3.8
python-engineio==4.3.0
python-socketio==5.5.0
requests==2.26.0
six==1.16.0
urllib3==1.26.7
Werkzeug==2.0.2
